{% extends 'frontend/base.html' %}
{% load static %}
{% block title %} {{ keyword }} {% endblock %}

{% block body %}
<div class="row allPage">
    {% include 'frontend/sidebar.html' %}
    <div class="wid-100 background-light pl-1 pr-1  ">
        {% include 'frontend/header.html' %}
        <main class="row justify-between">
            <div class="row wid-100 dir-col row-gap-2 ">
                <div class="player row align-center justify-between dir-col-onxs row-gap-3">
                    <div class="playermainactions row align-center col-gap-1">
                        <div class="play">
                            <img id="playbtn1" src="{% static 'frontend/assets/play.svg' %}" alt="">
                            <a id="anchorbtn" style="display: none;"></a>
                        </div>
                        <div class="next">
                            <img class="vol_btns" src="{% static 'frontend/assets/mute.svg' %}" alt="">
                        </div>

                    </div>
                    <div class="player_progress wid-100 ml-2 mr-2">
                        <span class="artist_name" id="stationName"></span>
                        <input id="volume" type="range" min="0" max="100" step="1" />
                        <span class="radio_title" id="currentPlaying"></span>
                        <audio id="audio" style="display: none;"></audio>
                        <input type="hidden" id="stationID">
                        <input type="hidden" id="stationLINK">

                    </div>
                    <div class="playerextraactions row align-center col-gap-1">
                        <img class="vol_btns" src="{% static 'frontend/assets/vol_high.svg' %}" alt="" >
                        <img class="vol_btns" id="openRadio" src="{% static 'frontend/assets/external.svg' %}" alt=""  style="cursor: pointer;">
    
    
                    </div>
                </div>
                <div class="background-white p-1  b-rad-18">
                    <div class="row justify-between">
                        <h2 class="color-pink text-uppercase"> {{ keyword }}</h2>

                    </div>
                </div>
                <div id="radio-list">
                
            </div>


            </div>
            <div class="col-3  background-white mt-2 ml-2 p-1 play-history">
                <span onclick="closePlayHistory()" class="times showontablet"><strong>X</strong></span>
                
                    {% if options.newsSideAD %}
                    <div>
                        {{ options.newsSideAD | safe }}
                    </div>
                    {% endif %}
                <div class="row dir-col row-gap-1 mt-2" id="recentPlayingList">
                  
                </div>
            </div>
        </main>
    </div>

</div>
<div id="radio-modal" class="ebcf_modal">

    <div class="ebcf_modal-content">
        <span class="ebcf_close">&times;</span>
        <div id="modal-content">

        </div>
    </div>

</div>
<script>
    
    rad = '{{ keyword }}'
    fetch(`/api/radios/${rad}`)
        .then(response => response.json())
        .then(data => {
            info = data['feed']
            radios = document.querySelector("#radio-list")
            
            for (var i = 0; i < info.length; i++)  {
                elm = ''
                for (var j = 0; j < info[i]['genre'].length; j ++ ){
                    elm += `<a style="margin : 5px;" href="/genre/${info[i]['genre'][j]}">${info[i]['genre'][j].replace("%20", " ")}</a>`
                }
                radios.innerHTML += `<div class="background-white p-1  b-rad-18 mb-1">
                    <div class="radio_cards row justify-between wrap">
                        <table>
                            <tbody>
                                <tr>
                                    <td id="play_1" width="74" class="text-center">
                                        <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px;"><img id="jp_poster_0" style="width: 0px; height: 0px; display: none;"><audio id="audio${info[i]['id']}" preload="none" class="radioAudios" src="${info[i]['radio_name']}"></audio></div>
                                            <div class="audio_streams" role="application" aria-label="media player">
                                                <div class="jp-type-single">
                                                    <div class="jp-gui jp-interface">
                                                        <div class="playBtnRadio">
                                                            <img onclick="playRadio(${info[i]['id']}, '${info[i]['play_link'].replaceAll(" ", "-")}')" class="playButtons" id="btnPlay${info[i]['id']}" style="font-size: 60px; cursor : pointer;" src="/static/frontend/assets/play_pink.svg">
                                                        </div>
                                                    </div>
                                                </div>
                                                                   
                                            </div>
                                        <small class="hidden-xs" onclick="openPlayer(${info[i]['id']}, '${info[i]['play_link'].replace(" ", "-")}')" style="margin:1px; cursor : pointer;" >popup <img style="height: 14px; cursor: pointer;" class="mdi-action-launch" src="/static/frontend/assets/external.svg">			</small>
                                        
                                        </td>
                                        <td style=" padding: 20px;">
                                            <h4 class="text-danger" style="display: inline; cursor : pointer"><a>${info[i]['play_link']}</a></h4>
                                           <br>Genres: ${elm}
                                       </td>
                                       <a style="display:none;" id="anchor${info[i]['id']}" href="/radioPlayer/${info[i]['id']}/"></a>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>`


            }
        })
    
        var audio = document.getElementById('audio');
        

    function addFav(i) {
      fetch(`/api/addFavourite/${i}`)
      document.querySelector(`#favHeart${i}}`).removeAttribute("onclick")
      document.querySelector(`#favText${i}`).removeAttribute("onclick")
      document.querySelector(`#favText${i}`).innerHTML = "Remove from Favourites"
      document.querySelector(`#favHeart${i}`).src = "/static/frontend/assets/heart_red.svg"
      document.querySelector(`#favHeart${i}`).setAttribute("onclick", "removeFav()")
      document.querySelector(`#favText${i}`).setAttribute("onclick", "removeFav()")
    }

    var playbtn1 = document.getElementById("playbtn1");
    playbtn1.addEventListener('click', () => {
        if (audio.paused || audio.ended) {
        playbtn.src = "/static/frontend/assets/pause.svg";
    
        
        window.open(document.querySelector("#anchorbtn").href,'newwindow','width=480,height=750');
        
        }
        else {
            playbtn.src = "/static/frontend/assets/play.svg";
        
        }
    })

    function openPlayer(i, j) {
       aud = document.querySelector(`#audio${i}`).src
       
       if (aud.split("/")[0] == "http:") {
            link = `http://radiolitefm.com/radioPlayer/${i}/${j}`
        }
        else {
           link = `https://radiolitefm.com/radioPlayer/${i}/${j}`

       }
        window.open(link,'newwindow','width=350,height=900');
    }
    
    
    // Get the modal
    var ebModal = document.getElementById('radio-modal');

    // Get the button that opens the modal
    var ebBtn = document.getElementById("modalbtn");


    // Get the <span> element that closes the modal
    var ebSpan = document.getElementsByClassName("ebcf_close")[0];

    // When the user clicks the button, open the modal 
    function displayModal() {
        ebModal.style.display = "block";
        
    }

    // When the user clicks on <span> (x), close the modal
    ebSpan.onclick = function () {
        ebModal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == ebModal) {
            ebModal.style.display = "none";
        }
    }

    function playRadio(i, j) {
        audio = document.querySelector(`#audio${i}`)
        playbtn = document.querySelector(`#btnPlay${i}`)
        
        play_split = audio.src.split("/")
        md_cnt = document.querySelector("#modal-content")
        if (play_split[0] == "http:") {
            displayModal()
            md_cnt.innerHTML = `
            <div class="content_item">
        
            <p style="MARGIN: 0 50px;
                        font-size: 12px;">
                            Due to restrictions of your browser, it is not possible to directly play this station on our website.
            
                You can however play the station here in our radioliteFM.com Popup-Player.</p>
            </div>
            <div class="content_buttons">
                <button class="btnContent" onclick="openPlayer(${i}, '${j}')"> Open Popup</button>  
            </div>
                    
                `
            } 
            else {
                // auds = document.querySelectorAll(".radioAudios")
                // for (var j = 0; j < auds.length; j ++ ) {
                //     auds[j].pause()
                // }
                
                // plys = document.querySelectorAll(".playButtons")
                // for (var j = 0; j < plys.length; j ++ ) {
                //     plys[j].src = "/static/frontend/assets/play_pink.svg";
                // }
                playbtn.src = "/static/frontend/assets/play_pink.svg";
                if (audio.paused || audio.ended) {
                    playbtn.src = "/static/frontend/assets/pause.svg";
                    audio.play()
                    
                    
                } else {
                    playbtn.src = "/static/frontend/assets/play_pink.svg";
                    audio.pause()

                }
            }
    }

    var audio = document.getElementById('audio');
    fetch('/api/getRandomRadio')
        .then(response => response.json())
        .then(data => {
            audio.src = `${data['link']}`
            document.querySelector("#stationID").value = data['radio_id']
            document.querySelector("#stationName").innerHTML = data['radio_name']
            document.querySelector("#stationLINK").value = data['link']
            document.querySelector("#anchorbtn").href = `/radioplayer/${data['radio_id']}/${data['radio_name'].replaceAll(" ", "-")}`

            play_link = data['link']

            play_split = play_link.split("/")
            
            md_cnt = document.querySelector("#modal-content")
            if (play_split[0] == "http:") {
                document.querySelector("#anchorbtn").href =
                    `http://radioliteFM.com/radioplayer/${data['radio_id']}/${data['radio_name'].replaceAll(" ", "-")}`
                md_cnt.innerHTML = `
            <div class="content_item">
           
            <p style="MARGIN: 0 50px;
    font-size: 12px;">
                Due to restrictions of your browser, it is not possible to directly play this station on our website.
           
            You can however play the station here in our radioliteFM.com Popup-Player.</p>
            </div>
            <div class="content_buttons">
                <button class="btnContent" onclick="openPlayer(${info[i]['id']}, '${info[i]['play_link'].replace(" ", "-")}')" id="playbtn"> Open Popup</button>  
                </div>
                
            `
            } else {
                document.querySelector("#anchorbtn").href =
                    `https://radioliteFM.com/radioplayer/${data['radio_id']}`
                ebBtn.removeAttribute("id")
                ebBtn.id = "playbtn1";
                md_cnt.innerHTML = `
                <div class="content_item">
                <p class="mr-50">
                    Zbog ograničenja internet preglednika radio stream je moguće slušati samo u novom pop-up prozoru
                    </p>
                <p style="MARGIN: 0 50px;
        font-size: 12px;">
                    Due to restrictions of your browser, it is not possible to directly play this station on our website.
            
                You can however play the station here in our radioliteFM.com Popup-Player.</p>
                </div>
                <div class="content_buttons">
                    <button class="btnContent" onclick="openPlayer(${info[i]['id']}, '${info[i]['play_link'].replace(" ", "-")}')" id="playbtn"> Open Popup</button>  
                    </div>
                `

            }


        })

    vol = document.querySelector("#volume")
    var audio = document.getElementById('audio');
    vol.addEventListener('change', () => {
        audio.volume = vol.value / 100
    })
    









    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function myfunc() {
        await sleep(2000);

        var playbtn = document.getElementById("playbtn");
        var playbtn1 = document.getElementById("playbtn1");
        playbtn.addEventListener('click', () => {
            if (audio.paused || audio.ended) {
                playbtn.src = "/static/frontend/assets/pause.svg";


                window.open(document.querySelector("#anchorbtn").href, 'newwindow', 'width=480,height=750');

            } else {
                playbtn.src = "/static/frontend/assets/play.svg";

            }
        })
        playbtn1.addEventListener('click', () => {
            if (playbtn1 != null) {
                if (audio.paused || audio.ended) {

                    audio.play()
                    ebBtn.src = "/static/frontend/assets/pause.svg";
                } else {

                    ebBtn.src = "/static/frontend/assets/play.svg";
                    audio.pause();
                }
            }
        })
    }
    myfunc()


   
    var openRadio = document.getElementById("openRadio");
    openRadio.addEventListener('click', () => {

        playbtn.src = "/static/frontend/assets/pause.svg";


        window.open(document.querySelector("#anchorbtn").href, 'newwindow', 'width=480,height=750');


    })
</script>
{% endblock %}