{
    "captcha": {
        "type": "recaptcha",
        "token": "03AGdBq27RwhNFRSeViSsIzVE7URK56I0UC3DWF7RmaPsI1PSSEVHDhMPSAM4yBVFX8TkIXbZ5bCDF3RR5gino9nDmusk4H-rZuCSd3mfchONKzFPok3tGR0YKVwG4Wv4VOYIg0iiOtBBCxo-rs-q7ugCY13PON6eFjRlreF40nz6xyFD48Xz4KEGp7ES_UHBnkOQMFHC9MWlz7u_xNM2s__DVTZyZWd4hVdBgce8tnqr6fluxhomIP9fk1C8HLmBja8N8cAOCu9C3R8sd7cDgp93QY1Hlh6SSZb_6WypKpqf5dr4p2ipXVu_kE-f4Pss3E6l75qLIw6kN9OZxAwH82GtLyf2EDx3FSeayv2PfMNjDQcPhLe3K01y5xvMqcpTAq31ZwS-y7nvjRRaqEr10yEH9slD_NN-GmLX4TyEzufH9tkAKlgtdJpSmMWWVRl-Gjr4B3BuSjihYTjfBwe3bVd60-Y9d3pbkXmZd2RpNuSp-tpD5KBS3RJeOfHvs8JiHnLe20I5PZp_z"
    },
    "id_lead_combination_rule": "C82B0AC4-12CB-4A13-9250-92619A516B34",
    "id_crm_campaign": "CMP0250166",
    "id_crm_activity": "WVE0001147",
    "id_crm_model": "ALL_MODELS",
    "crm_source": "DWS",
    "flag_is_query_crm_source": False,
    "crm_channel": "Enquiry by customer",
    "flag_is_query_crm_channel": False,
    "crm_object": "208 - ZFFCW56A830131319",
    "flag_is_query_crm_object": False,
    "user_first_name": "zvxc",
    "user_last_name": "sdf",
    "dt_user_birthday": "1970-01-01",
    "user_gender": "",
    "id_user_job_activity": 0,
    "user_favourite_contact": "phone",
    "user_contact_email": "asdf@dsf.com",
    "user_contact_phone": None,
    "user_address": [
        {
            "field": "address1",
            "value": None
        },
        {
            "field": "civicNumber",
            "value": None
        },
        {
            "field": "postal",
            "value": "10307"
        },
        {
            "field": "city",
            "value": "nyc"
        },
        {
            "field": "county",
            "value": None
        },
        {
            "field": "country",
            "value": "US"
        }
    ],
    "agreements": [
        {
            "code_agreement": "agreement_privacy_default",
            "value": True,
            "id_app_consent": "Ferrari.com",
            "source_ip": "0.0.0.0"
        },
        {
            "code_agreement": "agreement_privacy",
            "value": True,
            "id_app_consent": "Ferrari.com",
            "source_ip": "0.0.0.0"
        },
        {
            "code_agreement": "agreement_analysis",
            "value": True,
            "id_app_consent": "Ferrari.com",
            "source_ip": "0.0.0.0"
        },
        {
            "code_agreement": "agreement_related_company",
            "value": False,
            "id_app_consent": "Ferrari.com",
            "source_ip": "0.0.0.0"
        }
    ],
    "flag_newsletter_subscribe": False,
    "language": "en-US",
    "site_origin": "Enquiry by customer",
    "site_edition": "en-US",
    "site_url_referrer": "https://www.upwork.com/",
    "site_url_form": "https://scottsdale.ferraridealers.com/en-US/ferrari-book-service",
    "country": "US",
    "Referral_Source": "www.upwork.com",
    "Referral_Medium": "referral",
    "Referral_Campaign": "(not set)",
    "Referral_Content": "(not set)",
    "Referral_Terms": "(not set)",
    "crm_note": "Brand: FERRARI | Model: 208 | VIN: ZFFCW56A830131319 | YEAR: 2009 | KM:  | NOTE: ",
    "dealer_code": "006095"
}